*/10 * * * * bash -c "source ~/.bashrc && cd /home/stefie10/regression_tests/tklib/ && test ! -e regression.lock && svn up > pytools/unit_tests/regression.log && cd pytools/unit_tests && xvfb-run rake run_tests 1>>regression.log 2>&1"
